.main--estilo4 {
    grid-area: main;
    gap: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 681px;
    grid-template-areas:
        "titulo titulo"
        "img formulario";

    .caja1s {
        grid-area: titulo;
    }

    .caja2s {
        grid-area: img;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;

        }
    }

    .caja3s {
        grid-area: formulario;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "h2"
            "form";

        &__h2 {
            grid-area: h2;
            text-align: center;
            color: $blanco;
            font-family: jumper;
        }

        &__form {
            grid-area: form;
        }


    }

}



.container--prop1 {
    margin-left: 0;
    margin-right: 0;
}

.container--prop2 {
    --bs-gutter-x: 0;
}

.row--prop {
    --bs-gutter-y: -22px;
}

.row--prop2 {
    --bs-gutter-x: 0;
}

.col-sm--margin {
    margin-top: 10px;
}

.form {
    width: 100%;
}

.col-sm--prop22 {
    padding-right: 0;
    padding-left: 0;
    margin-top: auto;
}

.col-sm-2__boton {
    color: #ffffff;
    background-color: #0d6efd;
    font-weight: bold;
}


//MEDIA QUERY

@media (max-width:414px) {

    .main--estilo4 {
        grid-template-columns: 1fr;
        grid-template-rows: auto 227px 681px;
        grid-template-areas:
            "titulo"
            "img"
            "formulario";

    }




}