$amarillo: #FFBC00;
$oscuro: #000000;
$gris-oscuro:#322D2D;
$azul-claro:#0d6efd;
$negro:#000000;
$blanco:#FFFFFF;
$transparente: #00000000;
$rojo:#FF0000;
$verde:#008000;
$azul-oscuro:#0d0515;
$pastel: #c3bca8;
$violeta-claro:#4300ba;
$color-fondo:#3872d5;