@font-face {
    font-family: "handy";
    src: url(../recursos/tipografias/Largelake_PERSONAL_USE_ONLY.otf);
  }
  
  @font-face {
    font-family: "jumper";
    src: url(../recursos/tipografias/JumperPERSONALUSEONLY-Bold.ttf);
  }
  